{% extends 'todo/base.html' %}

{% block content %}

<h1>{{ viewtodos.title }}</h1>

<h5>{{ viewtodos.created|date:'F jS Y' }}</h5>

<div>

{{ viewtodos.memo|safe }}

 {% if viewtodos.url %}
    <a href="{{ viewtodos.url }}">
      <img src="{{ viewtodos.image.url }}">
    </a>
    {% else %}

    <img src="{{ viewtodos.image }}">
    {% endif %}
</div>

{{ error }}

<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Save</button>
</form>


<form method="POST" action="{% url 'completetodo' viewtodos.id %}">
{% csrf_token %}
<button type="submit">Complete</button>
</form>


<form method="POST" action="{% url 'deletedtodo' viewtodos.id %}">
{% csrf_token %}
<button type="submit">Delete</button>
</form>


{% endblock %}
